<!DOCTYPE html>
<html lang="en" dir="ltr"> 

<head>
    <meta charset="utf-8">
    <title>Classify</title>
</head>

<body>

    <header>
        <div class="">
            Evaluate News NLP Udacity
        </div>
        <div class="">
            Enter Inputs Here:  
        </div>
    </header>

    <main>
        <section>
            <form>
                <input id="name" type="text" name="input" value="" placeholder="Name">
                <input id="url" type="text" name="input" value="" placeholder="Place Url Here!">
                <input type="submit" name="" value="submit" onsubmit="return client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Results:</strong>
                    <div id="results"></div>
                </section>
    </main>
 
    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>